<div class="container">
    <div class="columna-izquierda">
        <div class="info-perfil">
            <div class="lista">
                <div class="linea">
                    <b class="label">Nombre:</b>
                    <span class="valor">{{nombre}}</span>
                </div>
                <div class="linea">
                    <b class="label">Apellido:</b>
                    <span class="valor">{{apellido}}</span>
                </div>
                <div class="linea">
                    <b class="label">Mail:</b>
                    <span class="valor">{{email}}</span>
                </div>
                <div class="linea">
                    <b class="label">Telefono:</b>
                    <span class="valor">{{telefono}}</span>
                </div>
            </div>
        </div>
        <hr />
        <br />
        <div class="contadores">
            <contadores-selector></contadores-selector>
        </div>
    </div>
    <div class="columna-derecha">
        <div class="recuadro">
            <div class="btn-subir-foto">
                <button type="button" mat-raised-button color="primary" (click)="fileInput.click()" mat-button>
                    <mat-icon>add_to_photos</mat-icon>
                    Subir Foto
                </button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/*">
                <button *ngIf="selectedFile" (click)="uploadImg(selectedFile)"><mat-icon>add_to_photos</mat-icon></button>
            </div>
            <div class="foto-perfil">
                <div class="img">
                    <img *ngIf="imgPerfil" [src]="imgPerfil" alt="Mi Imagen" />

                    <img *ngIf="!imgPerfil" src="../assets/imagenes/sin-foto.jpg" alt="Mi Imagen" />
                </div>
            </div>
            <!--Deshabilitado Editar-->
            <div *ngIf="!editar" class="credenciales">
                <div class="user">
                    <b class="etiqueta">Usuario:</b>
                    <Span>{{username}}</Span>
                </div>
                <div class="pass">
                    <b class="etiqueta">Contraseña:</b>
                    <div class="mostrar">
                        <div class="value">
                            <p type="password">●●●●●●●</p>
                        </div>            
                    </div>
                </div>
            </div>
            <!--Habilitado Editar-->
            <div class="form-editar" *ngIf="editar">
                <mat-dialog-content>
                    <form [formGroup]="perfilForm">
                        <div>
                            <div class="user-form">
                                <b class="etiqueta">Usuario:</b>
                                <input class="input" placeholder="Username" formControlName="username"
                                    value="{{username}}" required />
                            </div>
                            <div class="pass-form">
                                <b class="etiqueta">Contraseña:</b>
                                <input type="password" class="input" matInput placeholder="Password"
                                    formControlName="password" value="" required />
                            </div>
                        </div>
                    </form>
                </mat-dialog-content>
                <mat-dialog-actions>
                    <button mat-button color="primary" (click)="onSave()" [disabled]="perfilForm.invalid">
                        <mat-icon>save</mat-icon> Guardar
                    </button>
                    <button mat-button color="warn" (click)="onCancel()">
                        <mat-icon>cancel</mat-icon> Cancelar
                    </button>
                </mat-dialog-actions>
            </div>
        </div>
        <div class="botones">
            <div class="btn-editar">
                <button (click)="actualizarUsuario()" mat-fab extended color="primary" style="margin-right: 10px;">
                    <mat-icon>edit</mat-icon>
                    Editar
                </button>
            </div>
            <div class="btn-eliminar">
                <button (click)="eliminarUsuario()" mat-button style="margin-left: 10px;">
                    <mat-icon>delete_forever</mat-icon>
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>