h1,p,h2,h3,h4,h5,h6,b {
  font-family: 'fuentePersonalizada';
}

p {
  margin: 0px;
}
.btn-mostrar-ocultar{
  padding: 0px;
}


.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

mat-icon{
  size: 25px;
}

.columna-izquierda {
  width: 70%;
  height: 100%;
  flex: 1.75;
  padding: 20px;
}

.columna-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 30%;
  height: 100%;
}

.info-perfil {
  display: flex;
  justify-content: space-around;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 110px;
}

.credenciales { 
  display: block;
  height: 30%;
}

.lista {
  padding-left: 60px;
}

.linea {
  padding-bottom: 10px;
  /*border-bottom: 4px dotted #7b1fa2;*/
  margin-bottom: 30px;
}

.label {
  font-weight: bolder;
  color: #2E4F4F;
  padding-bottom: 5px;
  font-size: 22px;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  letter-spacing: 4px;
  font-weight: bolder;
}

.valor {
  margin-left: 20px;
  font-size: 20px;;
  letter-spacing: 3px;
  font-style: italic;
  text-align: center;
  font-weight: bolder;
}

.foto-perfil {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}
img{
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
  border-radius: 8px;
  width: 180px;
  height: 180px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.pass, .mostrar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.etiqueta {
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 8px;
}

.botones {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.recuadro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 80%;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.btn-subir-foto{
  width: 100%;
  height: 10%;
}

.contadores {
  margin-left: 60px;
}

.form-editar{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pass-form, .user-form{
  width: 100%;
  margin-bottom: 5px;
  display: flex;
}

.input{
  color: #fff;
  width: 100%;
  padding: 5px;
  background-color: #606060;
  display: inline-block;  
  border-radius: 4px;
  
  outline: none;
  border-bottom: 1px solid #0E8388;
}

@media screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
  }

}


@media screen and (max-width: 1000px) {
  .container {
    height: 150%;
    flex-direction: column;
  }

  .lista {
    padding: 0px 0px 0px 15px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
  }

  .info-perfil {
    padding-top: 0px;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }

  .columna-derecha {
    margin-top: 10px;
    width: 100%;
    height: 50%;
    order: 1;
    flex: 1;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }

  .columna-izquierda {
    width: 90%;
    flex: 1;
    order: 2;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }

  .credenciales {
    text-align: center;
  }

  .recuadro {
    height: 70%;
    margin-left: 20px;
    padding: 10px;
  }

  .contadores {
    margin-left: 30px;
  }

  .img {
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
  }
  img{

    width: 150px;
    height: 150px;
  }
  

}