<h5>Credenciales: </h5>
<div class="container-contadores">    
    <div>
        <div class="contador violeta">
            <div class="contador-numero">{{credTotales}}</div>
        </div>
        <div class="label">
            <div>
                <p>Totales </p>
            </div>
        </div>
    </div>

    <div>
        <div class="contador verde">
            <div class="contador-numero">{{credVigentes}}</div>
        </div>
        <div class="label">
            <div>
                <p>Vigentes </p>
            </div>
        </div>
    </div>

    <div>
        <div class="contador rojo">
            <div class="contador-numero">{{credVencidas}}</div>
        </div>
        <div class="label">
            <div>
                <p>Vencidas </p>
            </div>
        </div>
    </div>
</div>