.container-contadores {
  padding: 30px 50px 50px 50px;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
}

p, h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

h5{
  margin-top: 0px;
  margin-bottom: 15px;
}
.contador {
  position: relative;
	border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;	
  padding-top: 5px;
	height: 50px;
	border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
	width:100px;

}

.violeta{
  border-color: #7b1fa2;
}

.verde{
  border-color: #4e096c;
}

.rojo{
  border-color: #ba64de;
}

.contador-numero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  position: absolute;
  z-index: 2;
  transform: rotate(0deg);
}

.label {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}



@media screen and (max-width: 767px) {
h5{
  margin-bottom: 15px;
}

  .container-contadores {
    padding: 0px;
    margin-top: 10px;
  }

  .contador {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* Agrega una sombra */
  }
  .contador-numero {
    padding-bottom: 15px;
  }    

  .label{
    font-size: 12px;
  }
}