<div class="container">
    <div class="header">
        <div class="titulo">
            <p class="efecto-texto animacion">Aplicaciones Cargadas</p>
        </div>
        <div class="botones">
            <button mat-fab extended color="primary">
                <mat-icon>add</mat-icon> <b>Nueva Aplicacion</b>
            </button>
        </div>
    </div>
    <div class="div-tabla">
        <tabla-aplicaciones></tabla-aplicaciones>
    </div>
    <div class="div-tarjetas">
        <expansion-overview></expansion-overview>
    </div>
</div>