hr{
  border-color: #ad42da;;
}

h3, h2{
  margin: 0px;
}

.container {
  padding: 50px;
  justify-content: center;
}

.header {
  width: 100%;
  height: 20%;
  display: flex;
  margin-bottom: 25px;
  text-justify: center;
  flex-wrap: wrap;
}

.titulo-bienvenida {
  padding: 20px 20px 0px 20px;
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bienvenido {
  color: #ad42da;
  align-self: start;
  flex: 1;
  order: 1;
  text-align: start;
  letter-spacing: 3px;
  font-size: 45px;
  margin-right: 25px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.nombre-admin {
  flex: 1;
  order: 2;
  text-align: start;
  align-self: flex-start;
  display: flex;
  padding-top: 10px;
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.nombre{
  margin-right: 10px;
}


.img {
  width: 200px;
  height: 200px;

  margin-left: 25px;
  background-color: rgb(0, 0, 0);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}

img{
  width: 100%;
  height: 100%;
}

.header-card-contaner {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  margin: 15px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.card-container {

  display: flex;
  justify-content: center;
  /* Distribuye los elementos en el espacio disponible */
  flex-wrap: wrap;
  /* Envuelve los elementos en varias líneas si no caben en una sola */
}

.card {
  flex-basis: calc(90% - 20px);
  /* El tamaño base de cada item (3 columnas) con un margen de 20px entre ellos */
  margin-bottom: 20px;
  /* Espacio entre los elementos */
}

/* Media query para pantallas con una resolución menor a 600px */
@media screen and (max-width: 700px) {

  .bienvenido,
  .nombre-admin {
    flex: auto;
    /* Reiniciar la propiedad 'flex' para que los elementos se muestren uno debajo del otro */
  }

  .container {
    padding: 25px;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: center;
    flex-wrap: wrap;
  }

  .card {
    flex-basis: calc(100% - 20px);
    /* 2 columnas en lugar de 3 */
  }

  .titulo-bienvenida {
    text-align: center;
    text-justify: center;
    padding: 20px;
  }

  .bienvenido {
    padding-left: 20px;
    font-size: 25px;
    text-align: center;
    text-justify: center;
  }

  .nombre-admin {
    text-align: center;
    font-size: 18px;
    text-justify: center;
  }


  .img {
    margin-left: 0px;
    border-radius: 100%;
  }

  img {
    margin-left: 0px;
    border-radius: 100%;
  }
}