
<div class="container">
    <div class="header">
        <div class="img">
            <img src="#">
        </div>
        <div class="titulo-bienvenida">
            <div class="bienvenido">
                <p>Bienvenido:</p>
            </div>
            <div class="nombre-admin">
                <div>
                    <p class="nombre">{{nombre}} </p> 
                </div>
                <div>
                    <p class="nombre">{{apellido}}</p>
                </div>                 
            </div>
        </div>
    </div>
    <hr/>
    <div class="listado-credenciales">
        <div class="header-card-contaner">
            <p>Credenciales actuales</p>
        </div>
        <div class="card-container">
           <card-selector class="card"></card-selector>
        </div>
    </div>
</div>

