
<div class="container">
    <div class="header">
        <div class="img">
            <img *ngIf="imgPerfil" [src]="imgPerfil" alt="Mi Imagen" />

            <img *ngIf="!imgPerfil" src="../assets/imagenes/sin-foto.jpg" alt="Mi Imagen" />
        </div>
        <div class="titulo-bienvenida">
            <div class="bienvenido">
                <h2>Bienvenido:</h2>
            </div>
            <div class="nombre-admin">
                <div>
                    <h3 class="nombre">{{nombre}} </h3> 
                </div>
                <div>
                    <h3 class="nombre">{{apellido}}</h3>
                </div>                 
            </div>
        </div>
    </div>
    <hr/>
    <div class="listado-credenciales">
        <div class="header-card-contaner">
            <h4>Credenciales actuales</h4>
        </div>
        <div class="card-container">
           <card-selector class="card"></card-selector>
        </div>
    </div>
</div>

