<h2 mat-dialog-title> Cargar una Nueva Aplicacion</h2>
<mat-dialog-content>
    <form [formGroup]="aplicacionForm">
        <div class="container">
            <mat-form-field>
                <input matInput placeholder="Nombre Aplicacion" formControlName="nombre" required/>               
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="URL de la Aplicacion" formControlName="url" required/>               
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="aplicacionForm.invalid ">
        <mat-icon>save</mat-icon> Guardar
    </button>
    <button mat-button color="warn" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>
