<div class="container">
  <!--div class="titulo">
    <mat-card class="card">
      <mat-card-content>
        <b>Ultra Fibra</b>
      </mat-card-content>
    </mat-card>
  </div-->
  <mat-card class="formulario-login">
    <mat-dialog-content>
      <form [formGroup]="loginForm">
        <mat-form-field>
          <input matInput placeholder="Usuario" formControlName="username" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Pin" formControlName="pin" required />
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button color="accent" mat-raised-button (click)="onSubmit()">
        <mat-icon>fast_forward</mat-icon> Ingresar
      </button>
    </mat-dialog-actions>
  </mat-card>
</div>