.container{
    width: 100vw;
    height: 100vh;
    color: #fff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
}

.formulario-login{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.campo{
    width: 100%;
}


