<mat-card *ngFor="let c of listaDeCredenciales" class="card-container">
  <mat-card-header>
    <mat-card-title> {{c.aplicacion.nombreAplicacion}}</mat-card-title>
    <mat-card-subtitle>{{c.estadoCredencial.nombreCredencial}} </mat-card-subtitle>
    <div class="fecha">
      <h3>Vencimiento:</h3>
      <p> {{c.proximaActualizacion}} </p>
    </div>
  </mat-card-header>
  <div class="container-cred">
    <div class="usuario">
      <div class="label">
        <p>USUARIO: </p>
      </div>
      <div class="value-user">
        <p> {{c.usuario}}</p>
      </div>
    </div>
    <div class="contra">
      <div class="label">
        <p> PASSWORD: </p>
      </div>
      <div class="mostrar" *ngIf="!c.contraVisible; else ver ">
        <div class="value">
          <p type="password">● ● ● ● ● ● ● </p>
        </div>
        <button mat-icon-button matTooltip="Basic" (click)="mostrarContra(c)"
          color="basic"><mat-icon>visibility</mat-icon></button>
      </div>
      <ng-template #ver>
        <div class="value">
          <p type="password">{{c.contra}}</p>
        </div>
        <button mat-icon-button matTooltip="Basic" (click)="ocultarContra(c)"
          color="basic"><mat-icon>visibility_off</mat-icon></button>
      </ng-template>
    </div>
  </div>
  <mat-card-actions>
    <div class="botones">
      <div>
        <button mat-icon-button (click)="abrirModalEditar(c)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminarCredencial(c.idCredencial)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>