
h1,p,h2,h3,h4,h5,h6,b {
    font-family: 'fuentePersonalizada';
}


p,
h3 {
    display: inline;
    margin-bottom: 0px;
    text-align: end;
}

p{
    font-size: 20px;
}

.value-user{
    text-align: end;
}

h3{
    text-decoration: underline;
    text-decoration-color: 0E8388;
    text-underline-offset: 6px;
    font-size: 22px;
    letter-spacing: 2px;
}

b,p{
    margin-right: 12px;
}

.card-container {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}

mat-card-title{
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #0E8388;
}

mat-card-header {
    display: flex;
    justify-content: space-between;
}

mat-card-actions{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
}

.container-cred {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.usuario {
    display: flex;
    margin-left: 30%;
    order: 1;
    margin-bottom: 12px;
    align-items: flex-end;
}

.contra {
    display: flex;
    align-items: center;
    margin-left: 30%;
    order: 2;
}

.label{
    letter-spacing: 2px;
    font-style: italic;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: #0E8388;
    text-underline-offset: 4px;
}

.mostrar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1000px) {

    h3{
        display: none;
    }
}

@media screen and (max-width: 700px) {

    h3{
        display: none;
    }

    .label{
        letter-spacing: 1px;
        font-style: italic;
        font-size: 14px;
    }

    .usuario {
        display: flex;
        margin-left: 10%;
        margin-top: 20px;
        order: 1;
        margin-bottom: 10px;
    }
    
    .contra {
        display: flex;
        margin-left: 10%;
        margin-bottom: 20px;
        order: 2;
    }

    mat-card-actions{
        justify-content: center;
        align-items: center;    
    }
}
