
h1,p,h2,h3,h4,h5,h6,b {
    font-family: 'fuentePersonalizada';
}


.mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-aplicacion {
    flex-grow: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.botones {
    display: flex;
    gap: 10px;

}

a {
    color: white;
}

mat-panel-title {
    font-size: 22px;
}