
.slidex1{
    display: none;
}

.btn-nueva{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    height: 8%;  
}
.carousel-container {
    width: 95%;
    height: 88%;
    margin: 8px auto;
}

h4, p{
    margin: 0px;
}


igx-carousel {   
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
}

a{
    color: #4e2694;
}

.mostrar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

:host ::ng-deep { 

    .igx-nav-dot {
        background: black;
        box-shadow: none;
        width: 15px;
        height: 15px;
    }

    .igx-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;       
        max-width: 100%;
    }


    .div-credencial{
        width: 48%; 
        height: 45%; 
        margin-bottom: 10px; 
        background-color: #ffffff; 
        padding: 5px;
        box-sizing: border-box;
        display: flex;     
        flex-direction: row; 
        border: 3px inset #000;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    }

    .cred-izq{
        width: 70%;
        height: 100%;
    }

    .cred-der{
        margin-top: 10px;
        display: flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;      
        width: 30%;
        height: 95%;
    }

    .aplicacion{
        padding-left: 10px;
        height: 25%;
        color: #4e2694;
    }

    .user-pass{
        display: flex;
        flex-direction: column;
        align-items: center;   
        justify-content: center;     
        height: 50%;
    }

    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 125%;
    }  
    
    .usuario {
        display: flex;
        margin-left: 25%;
        order: 1;
    }
    
    .contra {
   
        display: flex;
        align-items: center;
        margin-left: 25%;
        order: 2;
    }
    
    .label{
        letter-spacing: 2px;
        font-style: italic;
        font-size: 25px;
    }

    .value{

        padding-left: 5px;
    }  

    .link{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 40%;
        width: 90%;
        padding-bottom: 5px;
        
    }

    .vigencia{
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .div-icono{
        display: flex;
        justify-content: flex-end;
        height: 40%;
        width: 100%;
    }

    .icono-vigencia{
        height: 50px;
        width: 50px;
        font-size: 50px;
    }

}

.slidex4{
    display: block;
}

@media screen and (max-width: 800px) {
    .slidex4{
        display: none;
    }

    .slidex1{
        display: block;
    }

    igx-carousel {   
        transform: rotate(-90deg); /* Gira cada diapositiva -90 grados */
        width: 100%;
        height: 100%;
        padding-left: 8%;
        padding-right: 8%;
    }

    igx-slide{
        width: 100%;
    }
    
    .div-credencial{
        margin-top: 20px;
        margin-bottom: 20px;
        transform: rotate(+90deg); /* Gira cada diapositiva -90 grados */
        width: 90%; /* Ancho de cada div dentro de la cuadrícula */
        height: 90%; /* Altura de cada div dentro de la cuadrícula */
    }



}
